{% extends 'base.html.twig' %}


{% block body %}
		<h1>Bienvenu dans notre espace </h1>
		<p>Dans notre espace on a créer une page web qui implémente l'ajout, modification, liste et affichage d'utilisateurs. Chaque utilisateur peut être membre de plusieurs groupes.
		- Les utilisateurs et les groupes sont stockés dans une base de données</p>
{% endblock %}
